@font-face {
    font-family: FuturaCondensed;
    src: url(FuturaStd-CondensedLight.otf);
}

@font-face {
    font-family: FuturaLight;
    src: url(FuturaStd-Light.otf);
}

* {
    padding-top: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: white;
    font-family: 'FuturaCondensed';
    font-size: 12pt;
    color: black;
}

form input {
    margin: 20px 3px;
    padding: 10px;
    background-color: white;
    color: black;
    border: black 2px solid;
    font-size: 12pt;
    font-family: 'FuturaLight';
}

form input[type="submit"],
form input[type="reset"] {
    font-family: 'FuturaCondensed';
    color: cadetblue;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: gainsboro;
}

#myMsg {
    text-align: center;
    color: cadetblue;
    font-family: 'FuturaLight';
    padding: 0px;
}

em {
    color: black;
}

#buttons {
    margin-left: 10px;
}

h1 {
    font-family: 'FuturaLight';
    color: cadetblue;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

footer > a:link {
    color: white;
}

.button {
    background-color: cadetblue;
    padding: 15px;
}

.hide {
    margin: 0px;
    font-size: 0pt;
    visibility: hidden;
}